
<div class="list-group-item">
    <h3 class="text-center">{{currentContact.FirstName}} {{currentContact.LastName}}</h3>
    <b>Address: </b><p style="text-indent: 20px">{{currentContact.Address}}</p>
    <b>Phone numbers:</b>
    <div ng-repeat="number in currentContact.PhoneNumbers" style="text-indent: 20px">{{number.PhoneNumberValue}}  </div>
    <b>Email addresses:</b>
    <div ng-repeat="email in currentContact.EmailAddresses" style="text-indent: 20px">{{email.EmailAddressValue}}  </div>
    <b>Tags: </b>
    <div ng-repeat="tag in currentContact.Tags" style="text-indent: 20px">#{{tag.TagName}}  </div>

    <a ng-href="#/edit/{{currentContact.ContactId}}">
        <button type="button" class="btn btn-default btn-sm" style="color: blue">
            <span class="glyphicon glyphicon-pencil">Edit</span>
        </button>
    </a>
    <a ng-click="delete(currentContact.ContactId)" href="javascript:;">
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove" style="color: red"></span> Delete
        </button>
    </a>
</div>


