<html ng-app="contactApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>Contact List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="~/AngularScripts/contactApp.js"></script>
    <script src="~/AngularScripts/Controllers/listController.js"></script>
    <script src="~/AngularScripts/Controllers/editController.js"></script>
    <script src="~/AngularScripts/Controllers/createController.js"></script>
    <script src="~/AngularScripts/Controllers/infoController.js"></script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Contact list</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a ng-href="#/">Home</a>
                </li>
                <li>
                    <a ng-href="#/newContact">Create new contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container" ng-controller="listController">
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Contacts:</h4>
                        <input class="form-control" type="text" placeholder="Search by first or last name, or tags" ng-model="searched" />
                        <div class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name'">
                            <a ng-href="#/contactInfo/{{contact.ContactId}}">{{contact.FirstName}} {{contact.LastName}}</a><br /><b>Tags:</b>
                            <span ng-repeat="tag in contact.Tags">#{{tag.TagName}}  </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <div ng-view> </div>
            </div>
        </div>

    </div>


    @RenderBody()

</body>
</html>