<html ng-app="contactApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>Contact List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src="~/Angular/contactApp.js"></script>
    <script src="~/Angular/listController.js"></script>
    <script src="~/Angular/editController.js"></script>
</head>
<body>

    <a ng-href="#/list">Home</a>



    <div ng-view> </div>

    @RenderBody()

</body>
</html>